body{
background-image: url("https://i.pinimg.com/564x/23/d7/4e/23d74e06260d45a85d81e9a877a0c0f2.jpg")}

.navbardecor{
    background-color:white;
}

h3{
    color:white;
    background-color: hsl(167, 40%, 50%); 
    font-family: 'Lora', serif;
    
}


.img-responsive{
    width: 370px;
    float: left;
}

.aboutmeheader{
    font-family: 'Lora', serif;
    color: hsl(167, 40%, 50%);
    background-color:white;
    
}
.bio{
    color:black;
    font-family: 'Lora', serif;
    font-size: 16px;
    
}
.p-3 {
    background-color: white;
    margin-left: 65px;
}

.bio2{
    color:black;
    font-family: 'Lora', serif;
    font-size: 16px;

}
    